<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:grey">
        <div class="logo">
            <a href="http://localhost:21844/home/index"><h1>wWw.Oxu.Az</h1></a>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer style="background-color:aquamarine">
        <div class="left">
            <a href="http://localhost:21844/contact-us">Contact</a>
            <a href="http://localhost:21844/home/About">About</a>
        </div>
    </footer>
</body>
</html>
